/* 
Fonts imported from Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* 
Removes the bullet points next to the list items 
*/
ul {
    list-style: none;
}

/* 
Hyperlink formatting - white text and text decoration to remove the line under the link.   
*/
a {
    color: #fff;
    text-decoration: none;
}



h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* 
NAVIGATION     
*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5674a3;
    color: white;

}

.logo {
    font-family: 'Bold 700';
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 3px;
    margin: .5rem;
}


.navlink ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlink li {
    list-style: none;
}

.navlink li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.dropdown {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.dropdown .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navlink li:hover {
    background-color: #97aac7;
}

@media only screen and (max-width: 960px) {
    .dropdown {
        display: flex;
    }

    .navlink {
        display: none;
        width: 100%;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .navlink ul {
        width: 100%;
        flex-direction: column;
    }

    .navlink li {
        text-align: center;
    }

    .navlink li a {
        padding: .5rem .1rem;
    }

    .navlink.active {
        display: flex;
    }

}

/* 
hero section 
*/

.hero {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(/FAB/img/website1.jpg) no-repeat center center fixed;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.about p {
    color: white;
}

.hero * {
    z-index: 1;
}

/* 
content sections
*/

.text p {
    margin-bottom: 80px;
}

.buttons a {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 7px 25px;
    border: 1px solid #189de4;
    border-radius: 5px;
}

.buttons a:first-child {
    background-color: #189de4;
    margin-right: 150px;
    border-color: black;

}

.buttons a:hover:first-child {
    background-color: #96d2f2;
    cursor: grab;
    opacity: 0.8;
}

.buttons a:nth-child(2) {
    background-color: #189de4;
    border-color: black;


}

.buttons a:hover:nth-child(2) {
    background-color: #96d2f2;
    cursor: grab;
    opacity: 0.8;
}

/* 
screen sizes responsiveness 
*/

@media only screen and (max-width: 1024px) {
    .text h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .text h1 {
        font-size: 2rem;
    }

    .text p {
        font-size: 1.25rem;
    }

    .buttons a {
        font-size: 14px;
    }

    .logo:hover::before {
        top: 10px;
    }
}

@media only screen and (max-width: 500px) {
    nav ul li a {
        font-size: 14px;
        padding: .25rem .5rem;
        margin: .25rem;
    }

    .text h1 {
        font-size: 1.8rem;
    }

    /* 
changing the button layout when the screen size is reduced to <500px 
*/
    .buttons a {
        width: 100%;
        margin: 0 auto;
    }

    .buttons a:first-child {
        margin: 20px auto;
    }

}

/* 
About us 
*/
.abouthero {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(/FAB/img/website3.jpg) no-repeat center center fixed;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.abouthero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
}


.abouthero * {
    z-index: 1;
}

.about-us .container {
    padding: 100px 0;
}

.about-us .background-img {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.about-numbers img {
    width: 94px;
}

.about-us .about-numbers {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}

.about-us .section {
    position: relative;
    width: 100%;
}

.about-us .about-text p {
    padding: 0 30%;
    margin: 30px 0;
}

.about-numbers .sudo::before {
    content: '';
    position: absolute;
    height: 48px;
    border: 0.5px #fff dashed;
    right: 0;
    bottom: 8px;
}

.about-us .section h3 {
    font-family: 'Ranchers', cursive;
    font-size: 2.1rem;
    letter-spacing: 2.5px;
    color: #189de4;
    margin: 10px 0;
}



@media only screen and (max-width:768px) {
    .about-us .about-text p {
        padding: 0 1%;
    }

    .about-us .about-text h1 {
        font-size: 2rem;
    }

    .about-us .about-text h3 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width:500px) {
    .about-us .container {
        padding: 80px 0;
    }

    .about-us .about-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 60px;
    }

    .about-us .about-text h2 {
        font-size: 2rem;
    }

    .about-us .sudo::before {
        display: none;
    }
}


/* 
Services Section 
*/

.services {
    color: #fff;
    padding: 80px 0;
}

.services-title {
    text-align: center;
    margin-bottom: 50px;
}



.service-1:hover {
    box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    -webkit-box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    -moz-box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    transition: .2s;
}

.service-1 h3 {
    margin: 15px 0 40px;
    color: #1894de;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
}

.service-1 h3::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translate(-50%, -50%);
}

.serviceshero {
    display: block;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(/FAB/img/website1.jpg) no-repeat center center fixed;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.serviceshero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);

}



.serviceshero * {
    z-index: 1;
}

/* commercial */

.wrapper {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 1em;
}

.wrapper > div {
    background: #189ded;
    padding: 1em;
}



/* login page */

.login-title {
    padding: 100px 0 0;
    text-align: center;
}

/* log in page heading */

.login-title p {
    padding: 25px;
}

/* log in page paragraph under the heading */

.first-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-1:hover {
    box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    -webkit-box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    -moz-box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    transition: .2s;
}

.column-1,
.column-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.column-1 input {
    height: 50px;
    width: 95%;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    padding-left: 25px;
    color: #189de4;
    font-family: 'Open Sans', sans-serif;
}

.column-2 textarea {
    border-radius: 25px;
    border: none;
    color: #189de4;
    padding: 15px 0 0 25px;
    font-family: 'Open Sans', sans-serif;
}

::placeholder {
    color: #189de4;
}

/* input box text */

.second-part {
    margin-top: 40px;
    padding: 0px 0 0px;
}

/* margin between input box and submit button*/

.second-part input {
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #189de4;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* submit button styling*/

.second-part input:hover {
    background: transparent;
    border: 1px solid #189de4;
    transition: .3s;
}

/* submit button hover styling*/


/* 
Signup page  
*/


.signup-title {
    padding: 100px 0 0;
    text-align: center;
}

.signup-title p {
    padding-bottom: 25px;


}

.column-1 label {

    text-align: left;
}

p {
    text-align: center;
}

/*contact*/

.contact-form {
    padding: 100px 0 0;
    text-align: center;
}

.contact-form input {
    display: flex;
    margin: 10px auto;
    width: 50%;
    height: 50px;
}

.contact-form textarea {
    display: flex;
    margin: 10px auto;
    width: 50%;
    height: 150px;

}

.contact-form button {

    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #189de4;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;



}

.contacthero {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(/FAB/img/website2.jpg) no-repeat center center fixed;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.contacthero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.contacthero * {
    z-index: 1;
}



/* 
new customer
*/

.custform {

    text-align: center;
}

.custform input {

    margin: 10px;
    width: 45%;
    height: 50px;
}

.custform button {

    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #189de4;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* 
order form 
*/
.orderform {

    text-align: center;
}

.orderform input {

    margin: 10px;
    width: 45%;
    height: 50px;
}

.orderform button {

    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #189de4;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* 
find
*/


.results {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}


.search-box input {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 45%;
    height: 35px;
}

.search-box button {

    display: flex;
    margin: auto;
    padding: 15px 40px;
    background-color: #189de4;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* 
article
*/
.articlebutton button {

    display: flex;
    margin: auto;
    padding: 15px 40px;
    background-color: #189de4;
    border: 1px solid;
    border-radius: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* 
product
*/


.paypalbutton {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}


.paypalbutton input {
    height: 50px;
    width: 400px;
}



/* 
Footer
*/


.footer .background-img {
    border-top: 1px solid #189de4;
    padding: 20px 0;
    box-shadow: 1px 10px 50px 6px rgba(24, 157, 228, 0.9);
}

.footer-content,
.footer-menu ul,
.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu ul li {
    margin: 0 10px 0 0;
    font-size: 14px;
}

.footer-menu ul li a:hover,
.footer-content .two-links a:hover {
    border-bottom: 1px solid #189de4;
    box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    -webkit-box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    -moz-box-shadow: -3px -1px 78px 25px rgba(70, 150, 156, 0.93);
    transition: .2s;
}


.footer-bottom {
    margin-top: 10px;
}

@media only screen and (max-width: 500px) {
    .footer-menu ul li {
        font-size: 6px;
        width: 100%;
    }
}
